* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    background:
        radial-gradient(circle at top, #222 0%, #090909 45%, #000 100%);

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 430px;
    padding: 20px;
}

.login-box {
    background: rgba(20, 20, 20, 0.95);

    border: 1px solid #333;

    border-radius: 20px;

    padding: 45px 35px;

    box-shadow:
        0 0 40px rgba(255, 255, 255, 0.05);

    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.subtitle {
    color: #999;
    margin-bottom: 35px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #ccc;
}

input {
    width: 100%;

    padding: 15px;

    background: #111;

    border: 1px solid #333;

    border-radius: 10px;

    color: white;

    font-size: 15px;

    outline: none;

    transition: 0.2s;
}

input:focus {
    border-color: white;
}

button {
    width: 100%;

    padding: 15px;

    margin-top: 10px;

    border: none;

    border-radius: 10px;

    background: white;

    color: black;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    transform: scale(1.02);

    background: #ddd;
}

#error {
    color: #ff4d4d;

    margin-top: 15px;

    font-size: 14px;
}